<?xml version="1.0"?>
<config>
    <modules>
        <Magetest_Yp>
            <version>0.1.0</version>
        </Magetest_Yp>
    </modules>
    <global>
        <models>
            <magetest_yp>
                <class>Magetest_Yp_Model</class>
                <resourceModel>magetest_yp_resource</resourceModel>
            </magetest_yp>
            <magetest_yp_resource>
                <class>Magetest_Yp_Model_Resource</class>
                <entities>
                    <simple_faq>
                        <table>simple_faq</table>
                    </simple_faq>
                </entities>
            </magetest_yp_resource>
        </models>
        <blocks>
            <magetest_yp>
                <class>Magetest_Yp_Block</class>
            </magetest_yp>
        </blocks>
        <helpers>
            <magetest_yp>
                <class>Magetest_Yp_Helper</class>
            </magetest_yp>
        </helpers>
        <resources>
            <magetest_yp_setup>
                <setup>
                    <module>Magetest_Yp</module>
                </setup>
            </magetest_yp_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <magetest_yp>
                    <file>magetest/magetest_yp.xml</file>
                </magetest_yp>
            </updates>
        </layout>
        <routers>
            <magetest_yp>
                <use>standard</use>
                <args>
                    <modules>
                        <magetest_yp>Magetest_Yp</magetest_yp>
                    </modules>
                    <frontName>simplefaq</frontName>
                </args>
            </magetest_yp>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <magetest_yp before="Mage_Adminhtml">Magetest_Yp_Adminhtml</magetest_yp>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>